# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\galczyk1\Desktop\STUDIA\.MGR\1\Języki formalne i kompilatory\JFK_MBKG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
